# Игнорировать папку сборки
/target

# Игнорировать файлы кэша Rust
**/*.rs.bk

# Игнорировать файлы IDE (например, VS Code или IntelliJ)
.vscode/
.idea/

# Игнорировать файлы окружения или локальные конфигурации
.env
.DS_Store